* {
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
}

.page {
    max-height: 100vh;
    margin: auto;
}

.container {
    max-height: 95vh;
    margin: auto;
    aspect-ratio: 1/1;
}

.buttonContainer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#newGrid {
    flex: 0 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column {
    aspect-ratio: 1/1;
    border: 2px solid black;
    flex: 1 1 0;
}